body {
    font-size: 14px;
    color: #777;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin label {
    font-weight: 400;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-measurment {
    padding-left: 0!important;
}

.modal-measurment .modal-dialog {
    margin: 40vh 0 0 0;
    width: 100%;
}

.modal-measurment .modal-content {
    /*font-size: 7vw;*/
    font-size: 1.6em;
    border: none;
    border-radius: 0;
}

.modal-measurment .modal-header {
    padding: 10px;
    position: relative;
    /* this is to allow setting button "Done" to 100% height so it's easier to click on */
}

.modal-measurment .modal-header h4 {
    font-size: 0.75em;
}

.modal-measurment .modal-header button {
    /* "Done" button */
    height: 100%;
    font-size: 0.5em;
    padding: 1em;
    top: 0;
    right: 0;
    position: absolute;
    font-weight: 400;
    margin: 0;
}

.modal-measurment .modal-body {
    padding: 0;
    height: 54vh;
}

.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%
}

.modal-open .modal {
    overflow: hidden;
}

.measurements-body {
    display: inline-block;
    margin: 0 auto;
}

.measurements-body > div {
    /*margin: 0 2vw;*/
    float: left;
}

.dial {
    background-color: rgba(190, 190, 190, 0) !important;
    display: none;
}

.drum-wrapper {
    float: left;
}

div.drum-wrapper {
    min-width: 12vw;
    height: 54vh;
    border: 0;
}

div.drum-wrapper#drum_lbs {
    min-width: 14vw;
}

div.drum-wrapper#drum_fit_preference {
    min-width: 50vw;
}

div.drum-wrapper .inner {
    /* top: 6vh; */
    height: 54vh;
}

div.drum-wrapper div.container,
div.drum-wrapper figure {
    line-height: 1.6em;
    height: 1.6em;
}

div.drum-wrapper div.container {
    top: 15vh;
}


div.drum-wrapper figure {
    text-align: center;
    color: #000000;
    margin: 0;
    border: 0;
}

#drum_feet .dial,
#drum_inch .dial,
#drum_lbs .dial {
    /*              height: 42vh;*/
}

div.drum-wrapper .dial div {
    height: 0;
    display: none !important;
    visibility: hidden;
}

#drum_inch_quarters {
    padding-right: 2%;
}

#drum_inch_quarters figure {
    text-align: left;
}

.lines div {
    float: left;
}

.measurement-units {
    /*float: left; height: 42vh; line-height: 42vh;*/
    margin-top: 15vh;
    line-height: 1.6em;
    margin-left: 5px;
}

#div_inch {
    margin-left: 20px;
}

#div_lbs {
    margin-right: 10px;
}

.selection-box {
    top: 15vh;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    position: absolute;
    height: 1.6em;
    width: 100%;
    left: 0;
}

.btn-tap {
    background-color: transparent;
    color: #ddd;
    border: none;
    font-size: inherit;
}

.btn-tap:hover {
    color: #000;
    background-color: transparent;
}

.panel-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none;
    background-color: #f0f0f0;
    padding: 0;
}

.panel-footer .btn-tap {
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 15px 0;
}

.warning-msg {
    display: none;
}

.blur-me {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}

.modal-backdrop {
    background-color: #eee;
}

.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: 0.8;
}


/* NAVIGATION STYLING */

.navbar-default {
    font-size: 18px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.shopping-cart {
    margin-right: 15px;    
}

.shopping-cart:hover, .shopping-cart:focus {
    text-decoration: none;
    color:#333;
}
.navbar-header {
    float: none;
}

.navbar-brand {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
}



.hero-image-wrapper {
    /*max-height: 35vh;*/
    overflow: hidden;
    padding:0;
}

.hero-image-wrapper img,
.hero-image-wrapper video {
    /*max-height: 35vh;*/
    object-fit: cover;
    width: 100%;
}

.height-and-weight {
    background: url('/bundles/users/img/height-and-weight.jpg') no-repeat 0 0 ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1em 2em;
    color: #eee;
    

}

.height-and-weight h2 {
    font-size:1.2em;
    line-height: 1.2;
}

#fit-video,
#fit-video-ios-fallback {
    display: none;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.video-control {
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    color: white;
    outline: none;
    bottom: 6%;
    right: 2%;
    padding: 10px;
}

.video-control:focus,
.video-control:hover {
    outline: none;
    color: white;
}

.panel {
    min-height: 50vh;
    border: none;
    box-shadow: none;
}

.panel-login,
.panel-register {
    font-size: 18px;
    min-height: 0;
    margin-bottom: 50px;
}

.panel-body {
    padding: 0;
    padding-bottom: 60px;
}

.panel-heading {
    /*padding: 2.5vh 15vw 3.5vw 15vw;*/
    text-align: center;
    line-height: 1.3;
    /*font-size: 4.5vw;*/
    font-size: 1.1em;
    font-weight: 600;
}

.label {
    font-weight: 400;
}

.panel-footer-active {
    background-color: rgb(30, 155, 209);
}

.close.btn {
    color: rgb(76, 181, 206);
    opacity: 0.7;
}

.btn .caret {
    margin-left: 10px;
    margin-bottom: 5px;
    color: #222;
}

.measured {
    color: rgb(80, 180, 220);
}

.review-row {
    border-top: 1px solid #eee;
    padding: 2vh 0;
    margin: 0;
    width: 100%;
}

.review-col {
    text-align: center;
}

.review-label span label {
    font-weight: 400;
    margin: 0;
}

.review-col:first-child {
    border-right: 1px solid #eee;
}


/* RESULT PAGE */

.items .item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    min-height: 400px;
    /* to align in grid view, need to adjust that */
}

.item-border-right {
    border-right: 1px solid #eee;
}

.item-image {
    margin-bottom: 20px;
    padding: 0 20px;
}

.item-name,
.item-price {
    font-size: 1em;
}

.item-price {
    font-family: serif;
    text-align: right;
    margin: 10px 0;
}
.item-store, .item-color-name {
    font-size: 0.75em;
}

.item-buttons {
    margin-top: 30px;
}

.item-buttons button {
    margin-bottom: 10px;
}

.view-changers {
    border-bottom: 1px solid #eee;
}

.view-changers button {
    margin: 10px 0;
    background: none;
    border:none;
    font-size: 1em;
    width: 100%;
}

#add-all {
    margin: 30px 0;
}


/* RESET PASSWORD PAGE */

.panel-reset-password .panel-body {
    padding: 15px;
}

.panel-reset-password .panel-heading {
    border-bottom: 1px solid #eee;
}


/* ANOTHER HORIZONTAL LAYOUT OPTION */

.horizontal .hero-image-wrapper,
.horizontal .hero-image-wrapper video {
    
}

.horizontal .panel {
    min-height: 0;
    position: fixed;
    width: 80%;
    bottom: 0px;
    left: 10%;
    margin-bottom: 0;
}

.horizontal .video-control {
    font-size: 3rem;
    top: calc(50px + 4%);
    position: fixed;
}

.horizontal .panel-heading {
    cursor: pointer;
}

.horizontal .slider-arrow {
    display: inline-block;
    cursor: pointer;
    top: 23px;
    right: 0px;
}

.slider-arrow {
    display: none;
}


/* SHOPPING LIST */

.shopping-list-item {
    margin-top: 10px;
}

.shopping-list-item div {
    margin-bottom: 5px;
}


/* FEEDBACK */

.opinions-panel {
    margin-top: 20px;
    padding-bottom: 100px;
}

.opinions-info {
    margin-top: 20px;
    text-align: left;
}

.error-icon {
    color: red;
    margin-left: 20px;
}

.error {
    color: red;
}


/* MEDIA QUERIES */


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    body {
        font-size: 16px;
    }
    div.drum-wrapper {
        min-width: 9vw;
    }
    div.drum-wrapper#drum_lbs {
        min-width: 12vw;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    body {
        font-size: 24px;
    }
    div.drum-wrapper {
        min-width: 8vw;
    }
    div.drum-wrapper#drum_lbs {
        min-width: 10vw;
    }
    .checkbox input[type=checkbox],
    .checkbox-inline input[type=checkbox],
    .radio input[type=radio],
    .radio-inline input[type=radio] {
        height: 24px;
    }

    /* NAVIGATION STYLING */

    .navbar-header {
        float: right;
    }
    .navbar-collapse {
        float: left;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    div.drum-wrapper {
        min-width: 7vw;
    }
    div.drum-wrapper#drum_lbs {
        min-width: 8vw;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    div.drum-wrapper#drum_lbs {
        min-width: 6vw;
    }
}
